name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release_please:
    permissions:
      contents: write
      pull-requests: write
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        id: release
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }} # Personal Access Token required for triggering other workflows
